body {
  margin: 0;
  padding: 25px;
  padding-bottom: 55px;
  background: rgb(25,25,25);
  color: white;
  font-family: sans-serif;
	font-family: 'Montserrat', sans-serif;
}

#testOutput {
	color: white;
	z-index: 5;
}

.editor {
	font-size: 18px;
	border: 1px solid rgba(250,250,250,0.15);
}
.CodeMirror {
	height: auto;
	padding: 12px 3px;
}

.instructionsContainer {
	background: rgb(40,40,30);
	border: 1px solid rgba(250,250,250,0.15);
	color: white;
	margin-bottom: 15px;
	padding: 15px 50px 15px 15px;
}
.default {
	color: rgb(150,150,150);
}
.challengeTitle {
	font-size: 32px;
	margin: 15px auto;
}
.instructions {
	font-size: 22px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 15px;
	line-height: 25px;
	font-family: 'Raleway', serif;
}
code {
	padding: 3px 6px;
	margin-left: 3px;
	margin-right: 3px;
	background: rgb(150,150,150);
	border-radius: 5px;
	color: black;
	font-size: 15px;
}

.title {
	color: rgb(150,150,150);
	font-size: 26px;
}


.testControls {
	margin-top: 22px;
	margin-bottom: 22px;
	padding-left: 22px;
}
button {
	width: 215px;
	margin: 5px;
	font-size: 26px;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	background: white;
	font-family: 'Montserrat', sans-serif;
}
button:hover {
	cursor: pointer;
	background: #3FB2FD;
}
.testBtn {
	background: #FF6C31;
}
.testBtn:hover {
	background: #25F56B;
}
button:focus {
	outline: none;
}
.msg {
	margin: 0 auto 0 12px;
	display: inline-block;
}
.error {
	color: #FA3F3A;
}
.success {
	color: #00D484;
}

hr {
	margin-top: 30px;
	width: 95vw;
}
.testResults {
	margin-bottom: 20px;
}
.outputTitle {
	color: rgb(150,150,150);
	font-size: 26px;
}
.test {
	font-size: 18px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 12px;
	font-family: 'Raleway', serif;
}
.resultsTitle {
	margin-top: 18px;
	margin-bottom: 12px;
	font-size: 26px;
}
.fa {
	margin-right: 10px;
}
.testSuccess {
	color: #00D484;
}
.testFailure {
	color: #FA3F3A;
}

#liveOutput {
	background: white;
	color: black;
	padding: 12px;
}

.referenceLink {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: rgb(150,150,150);
}

a, a:visited {
	color: white;
	text-decoration: undeline;
}
a:hover {
	color: #3FB2FD;
}