body {
  margin: 0;
  padding: 12px 25px 55px 25px;
  background: rgb(25,25,25);
  color: white;
  font-family: sans-serif;
	font-family: 'Montserrat', sans-serif;
	min-width: 1300px;
}

.mainContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.codeWrapper {
	width: 55%;
}

.testWrapper {
	width: 45%;
	padding-left: 8px;
	padding-right: 22px;
}

.editor {
	font-size: 15px;
	border: 1px solid rgba(250,250,250,0.15);
}
.CodeMirror {
	height: auto;
	padding: 12px 3px;
}

.instructionsContainer {
	background: rgb(40,40,30);
	border: 1px solid rgba(250,250,250,0.15);
	color: white;
	margin-bottom: 15px;
	padding: 15px 50px 15px 15px;
	font-family: 'Cabin', sans-serif;
}
.default {
	color: rgb(150,150,150);
}
.qa {
	font-family: 'Muli', serif;
	color: rgb(150,150,150);
	font-size: 22px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.qa-complete {
	color: #25F56B;
	font-weight: bold;
}
.qa-needed {
	color: #FA3F3A;
	font-weight: bold;
}
.challengeTitle {
	font-size: 32px;
	margin: 15px auto;
	font-family: 'Muli', serif;
}
.instructions, .challengeText {
	font-size: 18px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 15px;
	line-height: 25px;
	font-family: 'Muli', serif;
}
code {
	padding: 3px 6px;
	margin-left: 3px;
	margin-right: 3px;
	background: rgb(150,150,150);
	border-radius: 5px;
	color: black;
	font-size: 12px;
}

.title {
	color: rgb(150,150,150);
	font-size: 26px;
}
.mainTitle {
	color: #FFCB4D;
	font-size: 30px;
}

select {
	background: white;
	border: none;
	font-size: 24px;
	margin-top: 22px;
	margin-bottom: 22px;
	margin-left: 22px;
	width: 350px;
}
select:focus {
	outline: none;
}

.testControls {
	margin-top: 22px;
	margin-bottom: 22px;
}
.keyShortcut {
	color: rgb(225,225,225);
}
button {
	width: 185px;
	margin: 5px;
	font-size: 22px;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	background: rgb(200,200,200);
	font-family: 'Montserrat', sans-serif;
}
button:hover {
	cursor: pointer;
	background: #FFCB4D;
}
.testBtn {
	background: #3FB2FD;
}
.testBtn:hover {
	background: #25F56B;
}
button:focus {
	outline: none;
}
.msg {
	margin-top: 4px;
	margin-bottom: 18px;
	font-size: 18px;
}
.error {
	color: #FA3F3A;
}
.success {
	color: #00D484;
}

hr {
	margin-top: 30px;
	width: 95vw;
}
.testResults {
	margin-bottom: 20px;
}
.outputTitle {
	color: rgb(150,150,150);
	font-size: 26px;
}
.test {
	font-size: 16px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 22px;
	text-indent: -12px;
	font-family: 'Raleway', serif;
}
.resultsTitle {
	font-size: 26px;
}
.fa {
	margin-right: 10px;
}
.testSuccess {
	color: #00D484;
}
.testFailure {
	color: #FA3F3A;
}

#liveOutput {
	background: white;
	color: black;
	padding: 12px;
	border-radius: 2px;
}
#consoleOutput {
	border: 1px solid rgba(250,250,250,0.15);
	background: rgb(40,40,40);
	color: rgb(15,225,50);
	padding: 12px;
}

.referenceLink {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: rgb(150,150,150);
}

a, a:visited {
	color: white;
	text-decoration: undeline;
}
a:hover {
	color: #3FB2FD;
}