body {
  margin: 0;
  padding: 12px 25px 55px 25px;
  background: rgb(25,25,25);
  color: white;
  font-family: sans-serif;
	font-family: 'Montserrat', sans-serif;
	min-width: 1150px;
}

.mainContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.codeWrapper {
	width: 55%;
}

.testWrapper {
	width: 45%;
	padding-left: 8px;
	padding-right: 22px;
}

.editor {
	font-size: 15px;
	border: 1px solid rgba(250,250,250,0.15);
}
.CodeMirror {
	height: auto;
	padding: 12px 3px;
	word-wrap: break-word;
}

.instructionsContainer {
	background: rgb(250,250,250);
	border: 1px solid rgba(250,250,250,0.15);
	color: rgb(10,10,10);
	margin-bottom: 15px;
	padding: 5px 50px 15px 15px;
	font-family: 'Cabin', sans-serif;
}

.default {
	color: black;
	font-weight: bold;
}
.qa {
	font-family: 'Muli', serif;
	color: black;
	font-size: 22px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: bold;
}
.qa-complete {
	color: #327AFF;
}
.qa-needed {
	color: #FA3F3A;
}
.qa-line {
	margin-top: 12px;
	border: 1px solid rgba(5,5,5,0.75);
	width: 100%;
}
.challengeTitle {
	font-size: 32px;
	margin: 15px auto;
	font-family: 'Muli', serif;
}
.instructions, .challengeText {
	font-size: 20px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 15px;
	line-height: 24px;
	font-family: 'Muli', serif;
}
.codeBlock {
	padding: 0px;
}
code {
	padding: 1px 6px;
	border-radius: 5px;
	font-size: 18px;
	color: #c7254e;
  	background-color: #f9f2f4;
}

.title {
	color: rgb(150,150,150);
	font-size: 26px;
}
.mainTitle {
	color: #FFCB4D;
	font-size: 30px;
}

select {
	background: white;
	border: none;
	font-size: 24px;
	margin-top: 22px;
	margin-bottom: 22px;
	margin-left: 22px;
	width: 550px;
}
select:focus {
	outline: none;
}

.callToAction {
  color: white;
  margin: -15px 15px 25px 15px;
  color: #FF613B;
}

.CTA-Link {
  text-decoration: none;
}

.CTA-Link:hover {
  text-decoration: underline;
  color: #33DD78;
}

.testControls {
	margin-top: 22px;
	margin-bottom: 22px;
	width: 510px;
}
button {
	width: 245px;
	margin: 5px;
	font-size: 20px;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	background: rgb(200,200,200);
	font-family: 'Montserrat', sans-serif;
}
button:hover {
	cursor: pointer;
	background: #FFCB4D;
}
.testBtn {
	background: #3FB2FD;
}
.testBtn:hover{
	background: #327AFF;
}
.testBtn {
	width: 500px;
}
.seedBtn:hover {
	background: #F65A39;
}
.solnBtn:hover {
	background: #25F56B;
}
.travelBtn {
	background: #FFCB4D;
}
.travelBtn:hover {
	background: #FFEE3F;
}
button:focus {
	outline: none;
}
.msg {
	margin-top: 4px;
	margin-bottom: 18px;
	font-size: 18px;
}
.error {
	color: #FA3F3A;
}
.success {
	color: #00D484;
}

hr {
	margin-top: 30px;
	width: 95vw;
}
.testResults {
	margin-bottom: 20px;
  padding-right: 5px;
}
.outputTitle {
	color: rgb(150,150,150);
	font-size: 26px;
}
.test {
	font-size: 18px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 22px;
	text-indent: -12px;
  font-family: 'Muli', serif;
}
.resultsTitle {
	font-size: 26px;
}
.fa {
	margin-right: 10px;
}
.testSuccess {
	color: #00D484;
}
.testFailure {
	color: #FA3F3A;
}

#liveOutput {
	background: white;
	color: black;
	padding: 12px;
	border-radius: 2px;
}
#consoleOutput {
	border: 1px solid rgba(250,250,250,0.15);
	background: rgb(40,40,40);
	color: rgb(15,225,50);
	padding: 12px;
}

.referenceLink {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: rgb(150,150,150);
}

a, a:visited {
	color: white;
	text-decoration: undeline;
}
.instructionsContainer a {
	color: black;
}
a:hover {
	color: #3FB2FD;
	cursor: pointer;
}

.testWrapper {
  position: relative;
}

.toggleSwitch {
  position: absolute;
  right: 125px;
  top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggleMeta {
  margin-right: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
